body {
  min-height: 100px;
  min-width: 400px;
}

#fname_label{
  display: inline-block;
  padding-left: 30px;
  font-size: 16px;
}

#TabManager_label{
  display: inline-block;
  padding-left: 30px;
  font-size: 16px;
}

#unitOfTime{
  display: inline-block;
  margin-left: 11px;
}

#hr1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#hr2 {
  margin-top:15px;
  border: 0;
  height: 0.5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.Tab_Manager_Functionality{
  padding-top:7px;
}

#tabManager_switch{
  margin-left:93px;
}

table, th, td {
  border: 1px solid black;
  text-align: right;
}

td{
  white-space: nowrap;
}

.titleName{
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}

#fname{
  width: 13%;
  margin: 8px 0;
  margin-left: 5px;
  box-sizing: border-box;
  display: inline-block;
}
